@import "../../../scss/abstract/mixins";
.main-about {
    min-height: 100dvh;
    padding: .5rem;
    @include flex($fd: column,$g:2rem,$ai:center);

    & .title{
       @include flex($fd:column);
    }

    & .list {
        @include flex($fd:column);
        & ol{
            list-style-type: disc;
            & li{
                margin-top: .5rem;
            }
        }
    }
}