@import "../scss/abstract/mixins";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  #root {
   @include flex($fd: column);
    min-height: 100dvh;
  }
  
  main {
    flex: 1;
  }