
$primary-color: #3498db;
$secondary-color: #bd10e0;


$text-color: #333;

$background-color: #fff;
$background-color2: #f4f4f4;
$background-color3: #eee8e8f2;

$box-shadow-color: #5c54705e;

$form-background-color: #fff;
$form-border-color: #ddd;


$card-border-color: #ddd;


$error-color: #e74c3c;


$hover-color: lighten($primary-color, 10%);
