@import "../../../scss/abstract/mixins";

// .post {
//    width: 100%;
//    // @include flex($fd:column,$jc:center,$ai:"center");
//    @include flex($fd:column);
//    flex-wrap: wrap;
//    text-wrap: balance;
//    margin: auto 0;
//    color: $text-color-2 !important;

// }

.post {
  color: $text-color-2 !important;
  & p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: 100px;
    box-sizing: border-box;
  }
}
