section {
    display: flex;
    flex-direction: column;

    & .detail-header {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        & img {
            width: 20rem;
            border-radius: 1rem;
        }

    }
}
.comment {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}