@import "../../../scss/abstract/_mixins.scss";

.home-main {
  // margin: 8rem;
  @include flex();
  & .container {
    & .blog-card {
      @include responsive-grid();
      // @include flex();
      height: 10rem;
      border-radius: 15px;
      background: #e0e0e0;
      box-shadow: 34px 34px 76px #c3c3c3, -34px -34px 76px #fdfdfd;

      & img {
        width: 15rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
  }
}
