@import "../../../scss/abstract/mixins";
.footer {
  margin-top: 1rem;
  width: 100%;
  padding: 20px 0;
  color: white;
  background: url("../../assets/logo-2.png") no-repeat;
  background-size: contain;
  background-position: left;
  background-color: #22283174;
 
  & .container {
    @include flex($jc: space-between);
    max-width: 1200px;
    margin: 0 auto;
    padding:0 20px;
    color: white;
    & .message {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    & .footer-icons {
      @include flex($jc: flex-end);
      gap: 20px;

      & div {
        font-size: 1.5rem;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: #3498db;
        }
        & svg {
          fill: white;
          transition: fill 0.3s ease;
        }
      }
      &:hover {
        svg {
          fill: #bd10e0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 10px;
    justify-content: center;
  }

  .footer-icons {
    flex-wrap: wrap;
    justify-content: flex-end;

    div {
      margin-bottom: 10px;
    }
  }
}
