@import "../../../scss/abstract/mixins";
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3498db;
  color: white;
  // padding: 0.4rem;
  // height: 8rem;
  // overflow: hidden;
  background: url("../../assets/logo-2.png") no-repeat;
  background-size: contain;
  background-position: left;
  background-color: #22283174;
  color: #cf314efe;
  & .container {
    @include flex($fd: column);
    padding: 20px;
    background-color: #3498db;
    color: white;
    & .message {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    & .footer-icons {
      @include flex();

      & div {
        font-size: 1.5rem;
        cursor: pointer;

        & svg {
          fill: white;
          transition: fill 0.3s ease;
        }
      }
      &:hover {
        svg {
          fill: #bd10e0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 10px;
  }

  .footer-icons {
    flex-wrap: wrap;
    justify-content: center;

    div {
      margin-bottom: 10px;
    }
  }
}
