@import "../../../scss/abstract/mixins";
.footer {
  margin-top: 1rem;
  width: 100%;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  color: white;
  background: url("../../assets/logo-2.png") no-repeat;
  background-size: contain;
  background-position: left;
  background-color: #22283174;
 
  & .container {
    @include flex($jc: space-between);
    // max-width: 1200px;
    margin: 0 auto;
    padding:0 20px;
    color: white;
    & .message {
      font-size: 1.2rem;
      margin-bottom: 20px;
      margin-left: 280px;
    }

    & .footer-icons {
      @include flex($jc: flex-end);
      gap: 20px;

      & .icon {
        transition: color 0.3s ease;

        &.iconWhatsapp:hover {
          color: #25D366;
        }
       
        &.iconFacebook:hover {
          color: #3b5998; 
        }
        
        &.iconInstagram:hover {
          color: #E1306C; 
        }
  
        &.iconTelegram:hover {
          color: #0088cc; 
        }
  
        &.iconTwitter:hover {
          color: #1DA1F2; 
        }
        & svg {
          font-size: xx-large;
        }
      }

     
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 10px;
    justify-content: center;
  }

  .footer-icons {
    flex-wrap: wrap;
    justify-content: flex-end;

    div {
      margin-bottom: 10px;
    }
  }
}
