@import "../../../scss/abstract/mixins";
@import "../../../scss/abstract/colors";

.main {
  width: 15rem;
  @include flex();

  & .container {
    width: 10rem;
    @include flex();
    & button {
      @include button();
    }
    & .current-page {
      @include button($c: $whatsapp-color, $bg: $background-color);
    }

    @media (max-width: 480px) {
      @include flex($fd: column);

      & button {
        font-size: 0.8rem;
      }
      button:has(span) {
        display: none;
      }
    }
  }
}

// @media (max-width: 768px) {
//     button:has(span) {
//       display: none;
//     }
//   }
