header {
  background-color: #393e46;
  color: #fd7014;
  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
      display: flex;
      align-items: center;
      gap: 1rem;

      & span:hover {
        text-shadow: 2px 2px 10px #242424;
      }
    }

    & main a {
      margin-right: 1.5rem;
      text-decoration: none;
      position: relative;
      display: inline-block;
      color: #E41F7B;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        left: 0;
        bottom: 0;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
        background-color: blueviolet;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    & .avatar {
      margin-right: 1.5rem;
    }
  }
}

.sidebar {
  width: 30rem;
  padding: 0.5rem;
  position: absolute;
  top: 5;
  right: 0;
}
