NODE_ENV = development
# MONGODB=mongodb://127.0.0.1:27017/blogAPI
MONGODB=mongodb+srv://your-password.mongodb.net/blogAPI
# blogAPI
HOST=127.0.0.1
PORT=port-number 
# PORT=3000

SECRET_KEY=your-secret-key
PAGE_SIZE=your-page-size-number

