@import "../../../scss/abstract/mixins";
@import "../../../scss/abstract/colors";


.main {
  min-height: 100dvh;
  padding: 2rem;
  background-color: $background-color;
  @include flex($fd: column);

  & .main-section { 
    @include grid($gtc: repeat(1, 1fr));
    & main {
    gap: 20px;
    }
  
  }
}
