main {
  & section {
    display: flex;
    justify-content: center;
    align-items: center;

    & main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & section {
        img {
            width: 20rem;
        }
      }

      & .content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
      }
    }
  }
}
